[submodule "sfml"]
	path = sfml
	url = http://github.com/LaurentGomila/SFML.git
[submodule "libvpx"]
	path = libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "libwebm"]
	path = libwebm
	url = https://chromium.googlesource.com/webm/libwebm
[submodule "protobuf"]
	path = protobuf
	url = http://github.com/google/protobuf
[submodule "gflags"]
	path = gflags
	url = http://github.com/gflags/gflags.git
[submodule "x264"]
	path = x264
	url = git://git.videolan.org/x264.git
